/* CSS TABLE OF CONTENTS

# GLOBAL 
    # GLOBAL VARIABLES (CUSTOM PROPERTIES)
    # GLOBAL RESETS
    # GLOBAL COLOURS
    # GLOBAL TYPOGRAPHY
    # GLOBAL MEDIA (eg images video)

# LAYOUT
    # MEDIA QUERIES (W/RESPONSIVE TYPOGRAPHY)
    # CONTAINER
    # GRID (ROWS AND COLUMNS)

#PAGE STRUCTURE (BASE TEMPLATE)
    #HEADER
        #SITE LOGO
        #SITE NAV
    #MAIN
        #SECTIONS
        #SYLING
    #FOOTER

# CUSTOM STYLING
    # BUTTONS
    # CUSTOM HELPERS
    # CUSTOM TYPE BLOCK/SPECIMEN
    # CUSTOM ANIMATIONS
   

*/

/* --------------------------------- */
/* ---------GLOBAL STYLING ----------*/
/* --------------------------------- */

/* SET GLOBAL VARIABLES */

:root {
    /* BASE COLOURS */
    --color-body-background: rgb(0, 0, 0);
    --color-body-text: rgba(255, 255, 255, 0.8);
    --color-body-text-box: rgb(243, 240, 0);
    --color-headings: rgb(255, 255, 255);
    --color-links: rgb(255, 255, 255);
    --color-links-dark: rgb(255, 251, 0);
    --color-header-bg: rgb(58, 17, 57);
    --color-header-links: rgb(255, 255, 255);
    --color-hero-bg: rgb(0, 0, 0);
    --color-footer-bg: rgb(0 0 0 / 1);
    --color-footer-text: rgb(255, 255, 255);
    --color-footer-links: rgb(140, 108, 192);
    --color-footer-hover-links: rgb(190, 108, 192);
    --color-glow-box-button-nosh: rgb(0, 17, 255);


    /* BASE TYPOGRAPHY */
    --font-body: 'JetBrains Mono', Arial, sans-serif;
    --font-headings: 'Limelight', serif;

    /* MEASUREMENT UNITS */

}

/* GLOBAL RESETS */
body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* SET GLOBAL COLOURS */
body {
    background: var(--color-body-background);
    color: var(--color-body-text);
}

h1,
h3 {
    color: var(--color-headings);
}

h2 {
    font-family: var(--font-headings);
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(119, 0, 255),
        0 0 82px rgb(119, 0, 255),
        0 0 92px rgb(119, 0, 255),
        0 0 102px rgb(119, 0, 255),
        0 0 151px rgb(119, 0, 255);
}


a {
    color: var(--color-links);
}

a:hover {
    color: var(--color-links-dark)
}

/* SET GLOBAL TYPOGRAPHY */
body {
    font-family: var(--font-body);
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: var(--font-headings);
}


h1 {
    font-size: 2.25em;
    line-height: 1.1;
}

h2 {
    font-size: 1.875em;
    line-height: 1.1;
}

h3 {
    font-size: 1.5em;
    line-height: 1.1;
}

p {
    max-width: 60ch;
}

/*  MEDIA QUERIES W/RESPONSIVE TYPOGRAPHY */

body {
    font-size: 87.5%;
}

@media (min-width:768px) {
    body {
        font-size: 100%;
    }
}

@media (min-width:1250px) {
    body {
        font-size: 112.5%;
    }
}

/* RESPONSIVE IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

/* GRID SYSTEM */
.row {
    --gridgap: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

@media (min-width: 768px) {

    .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gridgap);
    }

    .row.vertical-centered {
        align-items: center;
    }

    .row.swapped .one-half:nth-child(1) {
        order: 2;
    }

    .row.swapped .one-half:nth-child(2) {
        order: 1;
    }


    .one-whole {
        grid-column: span 12 / span 12;
    }

    .one-half {
        grid-column: span 6 / span 6;
        padding: 2em;
    }

    .one-third {
        grid-column: span 4 / span 4;
    }

    .two-thirds {
        grid-column: span 8 / span 8;
    }

    .one-fourth {
        grid-column: span 3 / span 3;
    }

    .three-fourths {
        grid-column: span 9 / span 9;
    }

    .one-half.centered {
        grid-column-start: 4;
    }

    .one-third.centered {
        grid-column-start: 5;
    }

    .two-thirds.centered {
        grid-column-start: 3;
    }

}




/* FOR DEMO GRID ONLY */

.demo .row {
    margin-bottom: 0;
    padding: 0;
}

.demo .row>* {
    background: rgb(0 0 0 / .1);
    padding: 1em;
    text-align: center;
    margin-bottom: var(--gridgap);
}

.demo p {
    margin: 0;
    max-width: none;
}

/* --------------------------------*/
/* --------PAGE STRUCTURE--------- */
/* ------------------------------- */

/* SITE HEADER */

.site-header {
    position: absolute;
    /* border: 5px solid yellow; */
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.site-header a {
    color: var(--color-header-links);
    text-decoration: none;
}

.site-header .site-logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.site-header img {
    display: block;
}

.site-header .site-logo h1 {
    margin: 0;
    font-size: 1.5em;
}

.site-header .site-logo h1 a {
    text-decoration: none;
}

/* SITE NAV */


.site-header .site-nav .menu-button {
    display: none;
}

.site-header .site-nav ul {
    display: flex;
    list-style: none;
}

.site-header .site-nav li {
    margin: 0;
    padding: 0;
}

.site-header .site-nav a {
    display: block;
    padding: 1em;

}



@media (max-width:767px) {
    .site-header .site-nav .menu-button {
        display: block;
        position: absolute;
        top: 1em;
        right: 1.5em;
        z-index: 200;
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
    }

    .site-header .site-nav ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 6em 0 6em 0;
        background-color: blue;
        box-shadow: blue 0 0 90px 110px;
        color: var(--color-body-text-box);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        /* min-height: 100vh; */
        width: 50%;
        transition: all .4s ease-out;

    }

    .site-header .site-nav a {
        color: var(--color-body-text-box);

    }

    .site-header .site-nav[data-navstate="closed"] ul {
        transform: translateX(100vw);
        opacity: 0;
        transition: all .5s ease-in;
    }

    .site-header .site-nav[data-navstate="open"] ul {
        transform: translateX(0);
        opacity: 1;
        transition: all .5s ease-out;
    }

    .site-header .site-nav[data-navstate="open"] .menu-button {
        position: fixed;
    }

    .site-nav .menu-button svg {

        display: block;
    }

    .site-nav .menu-button svg rect {
        fill: white;
        transform-origin: center center;
        transition: all .4s ease-out;

    }

    .site-nav[data-navstate="open"] .navicon-top {

        transform: translate(-7px, 7px) rotate(45deg);
        animation: navicon-top-toggle .4s ease-out forwards;
    }
}

/* SITE NAV MENU BUTTON */

@keyframes navicon-top-toggle {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    50% {
        transform: translate(0, 11px) rotate(0);
    }

    100% {
        transform: translate(-7px, 7px) rotate(45deg);
    }
}

.site-nav[data-navstate="open"] .navicon-mid {
    opacity: 0;
}

.site-nav[data-navstate="open"] .navicon-bot {

    transform: translate(7px, -7px) rotate(-45deg);
    animation: navicon-bot-toggle .4s ease-out forwards;
}

@keyframes navicon-bot-toggle {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    50% {
        transform: translate(0, -11px) rotate(0);
    }

    100% {
        transform: translate(-7px, -7px) rotate(-45deg);
    }
}



/* SITE MAIN */

/* .site-main {
    overflow-x: hidden;
} */

section {
    padding-top: 6em;
    padding-bottom: 6em;
}

.h2-main {
    font-family: var(--font-headings);
    --glow-color: rgb(0, 17, 255);
    font-size: 1.875em;
    line-height: 1.1;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px var(--glow-color),
        0 0 82px var(--glow-color),
        0 0 92px var(--glow-color),
        0 0 102px var(--glow-color),
        0 0 151px var(--glow-color);
}

.h1-main {
    font-family: var(--font-headings);
    --glow-color: #fdf800;
    font-size: 1.875em;
    line-height: 1.1;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px var(--glow-color),
        0 0 82px var(--glow-color),
        0 0 92px var(--glow-color),
        0 0 102px var(--glow-color),
        0 0 151px var(--glow-color);
}

/* HERO SECTION */

.hero {
    padding: 0;
    /* margin-bottom: 6em; */
    /* background: var(--color-hero-bg); */
    /* min-height: 100vh; */
    height: 50vh;
    /* height: 100vh; */
    /* display: flex;
    align-items: center; */
    color: white;
}

@media (min-width: 900px) {
    .hero {
        height: 100vh;
    }
}

.hero img {
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
}

/* SITE FOOTER */

.site-footer {
    background-image: url("https://drive.google.com/uc?export=view&id=1F2fPNNonEmj1ohhOGIOW2Xzk1xMkdoFh");
    background-color: var(--color-footer-bg);
    color: var(--color-footer-text);
    padding: 3em;
}

.site-footer h1,
.site-footer h3 {
    color: var(--color-footer-text);
}

.site-footer h2 {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.site-footer .site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.site-footer a {
    text-decoration: none;
    color: var(--color-footer-links);

}

.site-footer a:hover {
    color: var(--color-footer-hover-links);
}

.footer img {
    width: 100%;
    height: 50%;
    max-width: none;
    object-fit: cover;
}



/*---------------------------------*/
/* --------CUSTOM STYLING--------- */
/* ------------------------------- */

/* BUTTONS */
.glow-box-button {
    position: relative;
    padding: 16px 30px;
    font-size: 1.5rem;
    color: var(--color-links-dark);
    /* border: 2px solid rgba(0, 0, 0, 0.5); */
    text-shadow: 0 0 15px var(--color-links-dark);
    text-decoration: none;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
}

.glow-box-button:hover {
    color: #000000;
    /* border: 2px solid rgba(0, 0, 0, 0); */
    box-shadow: 0 0 0px var(--color);
}

.glow-box-button::before {
    border-radius: 10px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color);
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
    text-transform: uppercase;
}

.glow-box-button:hover::before {
    transform: scale(1);
    transition-delay: 0.5s;
    box-shadow: 0 0 13px 10px var(--color)
        /* ,
        0 0 30px var(--color),
        0 0 60px var(--color) */
    ;
}

.glow-box-button span {
    position: absolute;
    background: var(--color);
    pointer-events: none;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--color),
        0 0 20px 20px var(--color),
        0 0 30px 30 px var(--color),
        0 0 50px 50 px var(--color),
        0 0 100px 100px var(--color);
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
}

.glow-box-button:hover span {
    opacity: 0;
    transition-delay: 0s;
}

.glow-box-button span:nth-child(1),
.glow-box-button span:nth-child(3) {
    width: 40px;
    height: 4px;
}

.glow-box-button:hover span:nth-child(1),
.glow-box-button:hover span:nth-child(3) {
    transform: translateX(0);
}

.glow-box-button span:nth-child(2),
.glow-box-button span:nth-child(4) {
    width: 4px;
    height: 40px;
}

.glow-box-button:hover span:nth-child(1),
.glow-box-button:hover span:nth-child(3) {
    transform: translateY(0);
}

.glow-box-button span:nth-child(1) {
    top: calc(50% - 2px);
    left: -50px;
    transform-origin: left;
}

.glow-box-button:hover span:nth-child(1) {
    left: 50%;
}

.glow-box-button span:nth-child(3) {
    top: calc(50% - 2px);
    right: -50px;
    transform-origin: right;
}

.glow-box-button:hover span:nth-child(3) {
    right: 50%;
}

.glow-box-button span:nth-child(2) {
    left: calc(50% - 2px);
    top: -50px;
    transform-origin: top;
}

.glow-box-button:hover span:nth-child(2) {
    top: 50%;
}

.glow-box-button span:nth-child(4) {
    left: calc(50% - 2px);
    bottom: -50px;
    transform-origin: bottom;
}

.glow-box-button:hover span:nth-child(4) {
    bottom: 50%;
}

/* GLOW BUTTON NOSH */

.glow-box-button-nosh {
    position: relative;
    padding: 16px 30px;
    font-size: 1.5rem;
    color: rgb(0, 255, 170);
    /* border: 2px solid rgba(0, 0, 0, 0.5); */
    text-shadow: 0 0 15px var(--color-glow-box-button-nosh);
    text-decoration: none;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
}

.glow-box-button-nosh:hover {
    color: #ffffff;
    /* border: 2px solid rgba(0, 0, 0, 0); */
    box-shadow: 0 0 0px var(--color);
}

.glow-box-button-nosh::before {
    border-radius: 10px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color);
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
    text-transform: uppercase;
}

.glow-box-button-nosh:hover::before {
    transform: scale(1);
    transition-delay: 0.5s;
    box-shadow: 0 0 13px 10px var(--color)
        /* ,
        0 0 30px var(--color),
        0 0 60px var(--color) */
    ;
}

.glow-box-button-nosh span {
    position: absolute;
    background: var(--color);
    pointer-events: none;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--color),
        0 0 20px 20px var(--color),
        0 0 30px 30 px var(--color),
        0 0 50px 50 px var(--color),
        0 0 100px 100px var(--color);
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
}

.glow-box-button-nosh:hover span {
    opacity: 0;
    transition-delay: 0s;
}

.glow-box-button-nosh span:nth-child(1),
.glow-box-button-nosh span:nth-child(3) {
    width: 40px;
    height: 4px;
}

.glow-box-button-nosh:hover span:nth-child(1),
.glow-box-button-nosh:hover span:nth-child(3) {
    transform: translateX(0);
}

.glow-box-button-nosh span:nth-child(2),
.glow-box-button-nosh span:nth-child(4) {
    width: 4px;
    height: 40px;
}

.glow-box-button-nosh:hover span:nth-child(1),
.glow-box-button-nosh:hover span:nth-child(3) {
    transform: translateY(0);
}

.glow-box-button-nosh span:nth-child(1) {
    top: calc(50% - 2px);
    left: -50px;
    transform-origin: left;
}

.glow-box-button-nosh:hover span:nth-child(1) {
    left: 50%;
}

.glow-box-button-nosh span:nth-child(3) {
    top: calc(50% - 2px);
    right: -50px;
    transform-origin: right;
}

.glow-box-button-nosh:hover span:nth-child(3) {
    right: 50%;
}

.glow-box-button-nosh span:nth-child(2) {
    left: calc(50% - 2px);
    top: -50px;
    transform-origin: top;
}

.glow-box-button-nosh:hover span:nth-child(2) {
    top: 50%;
}

.glow-box-button-nosh span:nth-child(4) {
    left: calc(50% - 2px);
    bottom: -50px;
    transform-origin: bottom;
}

.glow-box-button-nosh:hover span:nth-child(4) {
    bottom: 50%;
}

/* CUSTOM HELPERS */
.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.section-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.section-background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rightaligned {
    display: flex;
    justify-content: flex-end;
    padding: 3em 0 0 0;
}

/* CUSTOM SECTION STYLING */

.home-booking {
    position: relative;

}

.glow-box-home {
    width: fit-content;
    height: fit-content;
    padding: 3em;
    background-color: blue;
    box-shadow: blue 0 0 100px 100px;
    color: var(--color-body-text-box);
}

.home-booking .glow-box-button {
    margin-top: 1em;
}

/*  CUSTOM TYPE BLOCK: HEADLINE AND SUBHEADLINE */
.headline {
    font-size: 4em;
    margin: 1em 0;
    line-height: 1;
}

.subheadline {
    font-size: 2em;
    font-weight: normal;
    margin: 1rem 0;
}

/* ANIMATION */

.fade-in {
    animation-name: my-fade-in;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes my-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/* SCROLL TRIGGER ANMATION   */



.animate-me-on-scroll.shimmy-up>* {
    opacity: 0;
    transform: translateY(100px);
}

.animate-me-on-scroll.shimmy-up[data-sectionstate="active"]>* {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s linear;
}

.animate-me-on-scroll.shimmy-up[data-sectionstate="active"]>*:nth-child(1) {
    transition-delay: 0;
}

.animate-me-on-scroll.shimmy-up[data-sectionstate="active"]>*:nth-child(2) {
    transition-delay: .2s;
}

.animate-me-on-scroll.shimmy-up[data-sectionstate="active"]>*:nth-child(3) {
    transition-delay: .4s;
}

/* ANIMATE ON SCROLL FADE IN */

.animate-me-on-scroll.fade-in {
    opacity: 0;
    transition: all 1s linear;
}

.animate-me-on-scroll.fade-in[data-sectionstate="active"] {
    opacity: 1;
}

/* ANIMATE ON SCROLL FROM LEFT AND RIGHT*/
.animate-me-on-scroll.slide-in-from-left {
    transform: translateX(-40px);
    opacity: 0;
}

.animate-me-on-scroll.slide-in-from-left[data-sectionstate="active"] {
    animation-name: slide-in-from-left;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slide-in-from-left {
    from {
        transform: translateX(-40px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-me-on-scroll.slide-in-from-right {
    transform: translateX(40px);
    opacity: 0;
}

.animate-me-on-scroll.slide-in-from-right[data-sectionstate="active"] {
    animation-name: slide-in-from-right;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(40px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* SOCIAL MEDIA */

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

* {
    padding: 0px;
    margin: 0px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: none;
}

.social.ul {
    position: relative;
    display: flex;
    transform: rotate(-25deg) skew(25deg);
    transform-style: preserve-3d;
}

.social.ul.li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0px 20px;
}

.social.ul.li:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
    background: #2a2a2a;
    trnasform-origin: top;
    transform: skewX(-41deg);
}

.social.ul.li:after {
    content: '';
    position: absolute;
    top: 5px;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #2a2a2a;
    trnasform-origin: right;
    transform: skewY(-49deg);
}

.social.ul.li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px !important;
    transition: 1.5s ease-out;
}

.social.ul.li:hover span {
    z-index: 1000;
    transition: .3s;
    color: #fff;
    box-shadw: -1px 1px 1px rgba(0, 0, 0, .5);
}

.social.ul.li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

.social.ul.li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: .8;
}

.social.ul.li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .6;
}

.social.ul.li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .4;
}

.social.ul.li:hover span:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: .2;
}

.social.ul.li:nth-child(1):hover span {
    background: #52E19F !important;
}

.social.ul.li:nth-child(2):hover span {
    background: #2C3456 !important;
}

.social.ul.li:nth-child(3):hover span {
    background: #EA6E96 !important;
}

.social.ul.li:nth-child(4):hover span {
    background: #FCEB00 !important;
}